<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<!--Side bar-->
<div th:replace="fragments :: page-adminsidebar"></div>

<!--Main Content-->

<form method="post" th:action="@{/needs/update}">
    <h1>Update Needed Item</h1>
    <div class="form-group">
        <label th:for="need"> Need </label>
        <input class="form-control" th:field="${needed.need}"/>
        <span th:errors="${needed.need}" class="error"></span>
    </div>

    <input type="hidden" th:value="${needed.id}" name="needId"/>
    <input type="submit" value="Update "/>
</form>

</body>
</html>