<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>
<div class="container-fluid">
    <a th:href="@{/admin/index}"><button class="btn btn-primary">Back</button></a>
<table class="table table-striped">
    <thead>
    <th>Blood Group</th>
    <th>Actions</th>
    </thead>
    <tr th:each="bloodGroup : ${bloodGroups}">
        <td th:text="${bloodGroup.bloodType}"></td>
        <td><a th:href="@{'/admin/bloodgroups/delete/' + ${bloodGroup.id}}"><button class="btn btn-primary">Delete</button> </a>
            <a th:href="@{'/admin/bloodgroups/update/' + ${bloodGroup.id}}"><button class="btn btn-primary">Update</button> </a></td>
    </tr>

</table>
    <a th:href="@{/admin/bloodgroups/add}"><button class="brn btn-primary">Add Blood Group</button> </a>

</div>

</body>
</html>
