<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>
<!--<center>-->
    <img src="https://lh3.googleusercontent.com/proxy/XEyHqQoKFabv548zOCFEmk0eCgkISuh47L6Po5UgNg-W4D6u90ZxwB5pIyfssf5q4ZPgEuIcZ3aLXbWxx_vsS79h1wYek1c7LzkSdfrJQdQny8xRPaAnTBWUgfoe"
         alt="" height="400" align="right"  style="width:30%;margin-right: 200px;margin-top:150px;">
<!--</center>-->
<div class="wrapper">
    <div id="sidebar">
        <h2>Blood Donor</h2>
        <ul>
            <li><a th:href="@{/}"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/bloodDonors/add}"><i class="far fa-registered"></i> Register</a></li>
            <li><a th:href="@{/search}"><i class="fas fa-search"></i>Search</a></li>
        </ul>
    </div>
</div>
<form method="post" style="max-width:600px;">
    <div class="container-fluid">
        <div style="width:800px;margin-left: auto;margin-right:auto;margin-top:15px;padding: 24px;">
        <h2 style="text-align:center;"><strong><i>Donor Registration Form</i></strong></h2>
            <p>Every day, blood donors help patients of all ages: accident and burn victims, heart surgery and organ transplant patients, and those battling cancer. In fact, every two seconds, someone in the U.S. needs blood.</p>
    <div class="form-group">
        <label th:for="name">Name</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${bloodDonor.name}" />
        <span th:errors="${bloodDonor.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${bloodDonor.address}">
        <span th:errors="${bloodDonor.address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${bloodDonor.city}">
        <span class="error" th:errors="${bloodDonor.city}"></span>
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${bloodDonor.state}">
        <span th:errors="${bloodDonor.state}" class="error"></span>
    </div>
    <div class="form-group">

        <label th:for="zipcode">Zipcode</label>

        <span class="required-field"></span>

        <input class="form-control" th:field="${bloodDonor.zipcode}"/>


        <span th:errors="${bloodDonor.zipcode}" class="error" ></span>

    </div>
    <div class="form-group">
        <label th:for="contactNo" > Contact Number</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${bloodDonor.contactNo}"/>
        <span th:errors="${bloodDonor.contactNo}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="emailId" > Email Id</label>
        <input class="form-control" th:field="${bloodDonor.emailId}">
        <span th:errors="${bloodDonor.emailId}" class="error"></span>
    </div>

        <div class="form-group">
            <label th:for="bloodGroup">Blood Group</label>
            <select name="groupId">
                <option th:each="group : ${bloodGroups}"
                        th:text="${group.bloodType}"
                        th:value="${group.id}"></option>
            </select>
            <!--        <a th:href="@{'/employers/add'}">Add Employers</a>-->
        </div>
    <input class="btn btn-primary center-block btn-lg" type="Submit" value="Submit">
</div>
    </div>
</form>



</body>
</html>
