<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<!--Side bar-->
<div th:replace="fragments :: page-adminsidebar"></div>

<!--Main Content-->
<div class="container" style="width:1000px;">
    <div class="card">
        <div class="card-block">

            <a th:href="@{/admin}">
                <button class="btn btn-primary btn-lg pull-right">Back</button>
            </a>
            <h1>Blood Donors List</h1><br>

            <table class="table table-striped table-hover">
    <thead>

    <th>ID</th>
    <th>Name</th>
    <th>Blood Group</th>
    <th>Actions</th>
    </thead>

    <tr th:each="donor : ${donors}">

        <td th:text="${donor.id}"></td>
        <td><a th:href="@{'/bloodDonors/view/' + ${donor.id}}" th:text="${donor.name}"></a></td>
        <td th:text="${donor.bloodGroup}"></td>
        <td><a th:href="@{/bloodDonors/delete/{id}(id=${donor.id})}"><button class="btn btn-primary">Delete</button></a>
            <a th:href="@{/bloodDonors/update/{id}(id=${donor.id})}"><button class="btn btn-primary"> Update</button></a></td>
    </tr>



</table>
<hr />
            <div class="pagination">
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i: ${#numbers.sequence(0,donors.totalPages-1)}">
                    <a th:href="@{/bloodDonors/index/(page=${i})}" th:text="${i}" class="nav-link"
                    ></a>

                </li>
            </ul>
            </div>
            <div style="float:right;font-size:18px;">
                Total pages: <th:block  th:text="${donors.totalPages}"></th:block>
            </div>
        </div>
    </div>
</div>

</body>
</html>
