<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<div class="container-fluid">
    <p th:text="${'Name : '+ bloodDonor.name}"></p>
    <p th:text="${'City : '+ bloodDonor.city}"></p>
    <p th:text="${'State : '+ bloodDonor.state}"></p>
    <p th:text="${'Zipcode : '+ bloodDonor.zipcode}"></p>
    <p th:text="${'Contact-no : '+ bloodDonor.contactNo}"></p>
    <p th:text="${'Email : '+ bloodDonor.emailId}"></p>

</div>
</body>
</html>
