<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>
<div class="wrapper">
    <div id="sidebar">
        <h2>Seeking Assistance</h2>
        <ul>
            <li><a th:href="@{/}"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/ineeds/add}"><i class="far fa-registered"></i> Register</a></li>
            <li><a th:href="@{/searchInneeds}"><i class="fas fa-search"></i>Search</a></li>
        </ul>
    </div>

    <div class="main_content">
        <div class="info">
            <div>
                <h1 align="center">Seeking Assistance</h1>
                <center>
                    <img src="https://blackdoginstitute.org.au/images/default-source/featured-images/3-4-3_seeking-help-suicide-prevention_feature.png?sfvrsn=0"
                         alt="" height="300" width="360" align="middle">
                </center>
                <!--                <div class="container">-->

                <h2>Individual Disaster Assistance</h2>
                <p>&emsp;Emergency Disaster Assistance can
                    help support your recovery from a major disaster. If you're ready to apply now for
                    disaster assistance or would like more information on the types of assistance available please visit
                    <a
                            th:href="@{https://www.disasterassistance.gov/}">disasterassistance.gov .</a>
                    There is a limited timeframe to apply for assistance, so do not wait to apply. Not sure if
                    you are in an area declared for disaster assistance? Visit <a
                            th:href="@{https://www.disasterassistance.gov/}">disasterassistance.gov .</a> and enter your
                    address to find out
                    if your area is declared for Individual Assistance
                </p>
                <h2>For immediate assistance.</h2>
                <p>

                    Our disaster assistance partners can provide help with immediate needs.
                <ul>
                    <li>
                        <strong><i>Emergency Medical Assistance:</i></strong>
                        Please dial 9-1-1.
                    </li>
                    <br>
                    <li><strong><i>Emergency Shelter:</i></strong>>
                        Locate options by zip code by visiting the <a href="https://www.redcross.org/find-help/shelter">American
                            Red Cross</a>, or <a
                                href="https://www.salvationarmyusa.org/usn/housing-and-homeless-services">Salvation
                            Army</a>, or by
                        texting SHELTER and your zip code (for example, “SHELTER 01234”) to 4FEMA (43362). For Spanish
                        text REFUGIO
                        and
                        your zip code. (Standard text message rates apply.)
                    </li>
                    <br>
                    <li><strong><i>Immediate Needs:</i></strong>
                        Contact your <a href="https://www.salvationarmyusa.org/usn/housing-and-homeless-services">local
                            emergency management agency</a> for help or referral to trusted disaster
                        assistance partners serving your area.
                    </li>

                </ul>
                </p>
                <h2>General:</h2>
                <h3>What You Can Do</h3>
                <p>
                    <strong>Planning</strong> - Preparing for natural disasters can greatly reduce the risks to health
                    and the environment. Hurricanes or floods can contaminate drinking water sources. Forest fires or
                    volcanoes harm air quality. Tornadoes or earthquakes, by damaging factories or storage facilities,
                    can release contaminants where people live or into the environment.
                <ul>
                    <li><i>Individuals and homeowners </i>can plan ahead to protect health for themselves and family
                        members.
                    </li>
                    <li><i>Communities, schools, and businesses </i>can plan ahead to reduce risks and possible costs of
                        storm-related spills or cleanup.
                    </li>
                    <li> Learn about<a th:href="@{https://www.ready.gov/plan}"> making an emergency plan</a> , from
                        Ready.gov
                    </li>
                </ul>
                <ul>
                    <li><strong>Recovery </strong>- Understanding risks will help speed recovery efforts and help keep
                        problems from becoming worse. Improper use of portable generators or heating devices can release
                        deadly carbon monoxide to indoor air. Ice-melting agents used improperly can pollute waterways.
                        Large amounts of debris can present serious disposal problems for state and local communities.
                        Owners or operators of damaged facilities may be responsible for reporting spills.
                    </li>
                    <li>Individuals and homeowners</i> can learn more about what, and what not, to do to protect health
                        of themselves and family.
                    </li>
                    <li><i>Communities, schools, and businesses</i> can learn more about address large-scale risks and
                        be aware of any legal requirements they may have under applicable regulations.
                    </li>
                </ul>

                </p>
            </div>
        </div>
        <div class="container-fluid">
            <label style="font-size:20px;"> Need Assistance ? </label>
            <a th:href="@{/volunteers/add}">
                <button class="btn btn-primary btn-lg">Register</button>
            </a>
        </div>

    </div>
</div>
</body>
</html>
