<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Email-Id</th>
        <th>Zipcode</th>
        <th>Needs</th>
        <th>Quantity</th>
        </thead>
        <tr th:each="inneed : ${inneeds}">
            <td th:text="${inneed.name}"></td>
            <td th:text="${inneed.emailId}"></td>
            <td th:text="${inneed.zipcode}"></td>
            <td >
                <ul>
                    <li th:each="needy : ${inneed.needs}">
                        <span th:text="${needy.need}"></span>
                    </li>
                </ul>
            </td>
            <td th:text="${inneed.quantity}"></td>
        </tr>
    </table>
</div>


</body>
</html>
