<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<form method="post" style="max-width:600px;">

    <h2 >Volunteer Registration Form</h2>
    <div class="form-group">
        <label th:for="name">Name</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.name}" />
        <span th:errors="${volunteer.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.address}">
        <span th:errors="${volunteer.address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.city}">
        <span class="error" th:errors="${volunteer.city}"></span>
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.state}">
        <span th:errors="${volunteer.state}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="zipcode">Zipcode</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.zipcode}">
        <span th:errors="${volunteer.zipcode}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="contactNo" > Contact Number</label>
        <span class="required-field"></span>
        <input class="form-control" th:field="${volunteer.contactNo}">
        <span th:errors="${volunteer.contactNo}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="emailId" > Email Id</label>
        <input class="form-control" th:field="${volunteer.emailId}">
        <span th:errors="${volunteer.emailId}" class="error"></span>
    </div>
    <div class="form-group">
        <label> Days Of Availability</label>
        <span class="required-field"></span><br>
<!--        <select id="Disaster">-->

        &emsp;&emsp;<input type="checkbox" value="Any days" id="any" th:field="${volunteer.daysOfAvailability}">
        <label for="any">Any</label><br>
        &emsp;&emsp;<input type="checkbox" value="Sunday" id="sunday" th:field="${volunteer.daysOfAvailability}">
        <label for="sunday">Sunday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Monday" id="monday" th:field="${volunteer.daysOfAvailability}">
        <label for="monday">Monday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Tuesday" id="tuesday" th:field="${volunteer.daysOfAvailability}">
        <label for="tuesday">Tuesday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Wednesday" id="wednesday" th:field="${volunteer.daysOfAvailability}">
        <label for="wednesday">Wednesday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Thursday" id="thursday" th:field="${volunteer.daysOfAvailability}">
        <label for="thursday">Thursday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Friday" id="friday" th:field="${volunteer.daysOfAvailability}">
        <label for="friday">Friday</label><br>
        &emsp;&emsp;<input type="checkbox" value="Saturday" id="saturday" th:field="${volunteer.daysOfAvailability}">
        <label for="saturday">Saturday</label><br>
    </div>

    <div class="form-group">
        <label> Volunteer Category</label>
        <span class="required-field"></span>
        <select class="form-control" id="category"  th:field="${volunteer.volunteerCategory}">
            <option value="DayVolunteer">Day Volunteer</option>
            <option value="Residential">Residential Volunteer</option>
        </select>
    </div>

    <div class="form-check">
        <label>Time Availability</label>
        <span class="required-field"></span><br>
        &emsp;&emsp;<input type="checkbox" value="AnyTime" id="anyTime" th:field="${volunteer.timeAvailability}">
        <label for="anyTime">Any Time</label><br>
        &emsp;&emsp;<input type="checkbox" value="8am-Noon" id="am" th:field="${volunteer.timeAvailability}">
        <label for="am">8 Am to Noon</label><br>
        &emsp;&emsp;<input type="checkbox" value="1pm-5pm" id="pm" th:field="${volunteer.timeAvailability}">
        <label for="pm">1 Pm to 5 Pm</label><br>

<!--        <input type="checkbox" value="pm" id="pm">-->
<!--        <label th:for="${timeAvailability}">5pm - 10pm</label>-->
    </div>
    <input class="btn btn-primary center-block btn-lg" type="submit" value="Submit">

</form>


</body>
</html>
