<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<div class="container-fluid">
    <p th:text="${'Name : '+ volunteer.name}"></p>
    <p th:text="${'City : '+ volunteer.city}"></p>
    <p th:text="${'State : '+ volunteer.state}"></p>
    <p th:text="${'Zipcode : '+ volunteer.zipcode}"></p>
    <p th:text="${'Contact Number : '+ volunteer.contactNo}"></p>
    <p th:text="${'Email : '+ volunteer.emailId}"></p>

<!--    <a th:href="@{/volunteers/index}"><button class="btn btn-primary">Back</button></a>-->
</div>
</body>
</html>
