<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<!--Side bar-->
<div th:replace="fragments :: page-adminsidebar"></div>

<!--Main Content-->
<form method="post">
    <div class="container body-content">
        <div class="form-group">
            <label th:for="days"> Days of Availability</label>
            <input class="form-control" th:field="${daysAvailability.days}" required/>
            <span th:errors="${daysAvailability.days}" class="errors"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Days"/>
    </div>
</form>


</body>
</html>
