<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<div class="container-fluid">
    <a th:href="@{/admin/index}"><button class="btn btn-primary">Back</button></a>
    <table class="table table-striped">
        <thead>
        <th>Days of Availability</th>
        <th>Actions</th>
        </thead>
        <tr th:each="day:${days}">
            <td th:text="${day.days}"></td>
            <td><a th:href="@{'/daysAvailability/delete/' + ${day.id}}"><button class="btn btn-primary">Delete</button> </a>
                <a th:href="@{'/daysAvailability/update/' + ${day.id}}"><button class="btn btn-primary">Update</button> </a>
            </td>
        </tr>
    </table>
    <a th:href="@{/daysAvailability/add}"><button class="btn btn-primary">Add Days Of Availability</button> </a>

</div>

</body>
</html>
