<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<form method="post" th:action="@{/daysAvailability/update}">
    <div class="container-fluid">
        <div class="form-group">
            <label th:for="days">Days Of Availability</label>
            <input class="form-control" th:field="${daysAvailability.days}" />
            <span class="error" th:errors="${daysAvailability.days}"></span>
        </div>
        <input type="hidden" th:value="${daysAvailability.id}" name="daysAvailabilityId" />
        <input type="submit" class="btn btn-primary" value="Update" />
    </div>
</form>

</body>
</html>
