.body-content {
    margin-top: 72px;
}
.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}
table.listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.listing td:first-child {
    font-weight: bold;
}

table.listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
	}
	.dropdown-menu{
		margin-top: 0;
	}
	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}
}

.required-field::before {
  content: "*";
  color: red;
}

body, html {
  height: 100%;
 }




.jumbotron {
  /* The image used */

  background-image: url("https://images.unsplash.com/photo-1475776408506-9a5371e7a068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  /* Full height */
  /*height: 100%;

  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;*/
  background-size: cover;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
li {
 /* font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
 font-family: Open Sans,sans-serif;
 font-size:16px;
}
p{
/*font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;*/
font-size:16px;


}
.container{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}

body {
    overflow-x: hidden;
    font-family: Open Sans,sans-serif;
    font-weight:400;
    line-height: 1.6;
    letter-spacing: .1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
      padding-top: 56px;

}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
/* Sidebar */
*{
margin:0px;
padding:0px;
font-family: sans-serif;
}

#sidebar{
position:fixed;
width:200px;
height:100%;
background:#151719;
left:-200px;
}
#sidebar.active{
left:0px;
}

#sidebar ul li{
color:rgba(230,230,230,0.9);
list-style:none;
padding:15px 10px;
border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn {
position: absolute;
left:230px;
top:20px;
}

#sidebar .toggle-btn span{
display:block;
width:30px;
height:5px;
background:#151719;
margin: 5px 0px;
}