.body-content {
    margin-top: 72px;
}
.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}
table.listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.listing td:first-child {
    font-weight: bold;
}

table.listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
	}
	.dropdown-menu{
		margin-top: 0;
	}
	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}
}
/* Required field specified by */
.required-field::before {
  content: "*";
  color: red;
}
/* Title Image */
.jumbotron {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1475776408506-9a5371e7a068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
 /* Full height */
  height: 40%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
li {
 font-family: Open Sans,sans-serif;
 font-size:16px;
 margin-left: 40px;
}
p{
font-size:16px;
}

.container{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.container-fluid{
   margin-bottom: 20px;
    padding: 10px 10px;
    left:300px;
    margin-right:20px;
    }

body {
    overflow-x: hidden;
    font-family: Open Sans,sans-serif;
    font-weight:400;
    line-height: 1.6;
    letter-spacing: .1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
      padding-top: 56px;

}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

/*Sidebar*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*list-style: none;*/
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper #sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 87%;
   overflow-x: hidden;
   padding: 8px 0;
}

.wrapper #sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
   color: #818181;
  display: block;
}



.wrapper #sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper #sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper #sidebar ul li a .fas{
  width: 25px;
}

.wrapper #sidebar ul li:hover{
  background-color: #594f8d;
}
.wrapper #sidebar ul li{
  list-style: none;
  margin : 10px;
    margin-left:20px;
}

.wrapper #sidebar ul li:hover a{
  color: #fff;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 100px;

}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
  padding: 0px 10px;
  left:300px;
  margin-right:200px;
}

@media screen and (max-height: 450px) {
  #sidebar {padding-top: 15px;}
  #sidebar a {font-size: 18px;}
}

  /* Image aligning left */
.float-img{
  float:left;
  clear:left;
  margin-right:20px;
  margin-bottom: 5px;
  padding: 2px;
  }
/* Background Image */
body,html{
  background: url(https://tse3.mm.bing.net/th?id=OIP.msJZ4Y5Jld_AJS4kGREWJAHaDe&pid=Api&P=0&w=372&h=175) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}



