<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/disasters.css}" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>

<body>

<div th:fragment="page-header" class="jumbotron text-center" style="margin-bottom:0">

    <h1 style="color:blue;">Emergency Disaster Assistance</h1>
    <p>Emerge,Contribute and Rejuvenate!</p>

</div>

<div th:fragment="page-header" class="navbar navbar-inverse">
    <marquee direction="left" style="color:red;"><b>ALWAYS CALL 911 if you are in immediate danger and need emergency help.</b></marquee>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
                <li ><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/inneeds/add}"> In Need</a></li>
                <li><a th:href="@{/volunteers/add}">Volunteer</a></li>
                <li><a th:href="@{/volunteers/view}">Volunteer List</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"> <span class="nav-label">Blood Donor</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/bloodDonors/add}">Register</a></li>
                        <li ><a class="dropdown-item" href="#">Search </a></li>
                    </ul>
                </li>
<!--                <li><a th:href="@{/bloodDonors/add}"> Blood Donor </a></li>-->

                <li><a href="#">Emergency Tips</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>

<!--Admin Views-->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"> <span class="nav-label">Admin Report</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/bloodgroups/add}">Add Blood Group </a></li>
                        <li><a class="dropdown-item" th:href="@{/volunteers/index}">Volunteer List</a></li>
                        <li ><a class="dropdown-item" th:href="@{/bloodDonors/index}">Blood Donors List</a></li>
                        <li><a class="dropdown-item" th:href="@{/inneeds/index}">In need List</a></li>
                        <li><a th:href="@{/list}">List</a></li>
                        <li><a th:href="@{/search}">Search</a></li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>


</body>
</html>
