<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<!--Side bar-->
<div th:replace="fragments :: page-sidebar"></div>

<!--Main Content-->
<div class="container body-content" style="width:700px;border: 2px solid;">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <form th:action="@{/search/results}" method="post">
        <h2> Search by: </h2>

        <p>
        <span th:each="column :${columns}">
        <input type="radio"
               name="searchType"
               th:id="${column.key}"
               th:value="${column.key}"
               th:checked="${column.key == 'all'}"
               onclick="myFunction()"/>
            <label th:for="${column.key}" th:text="${column.value}"></label>
        </span>

        <div class="form-group">
            <label>Blood Group</label>
            <select name="searchTerm1" class="dropdown">
                <option th:each="group : ${bloodGroups}"
                        th:text="${group.bloodType}"
                        th:value="${group.bloodType}"></option>
            </select>
        </div>
        </p>

        <p>
            <input type="text" name="searchTerm" id="searchTerm">
        </p>
        <input type="submit" value="Search">
    </form>

    <hr/>

    <table class="listing">
        <h4 style="color:red;" th:text="${empty}"></h4>
        <tr th:each="donor,iterationStatus : ${bloodDonors}">

            <td>
                <p>Donor :
                    <label th:text="${iterationStatus.count}"></label>
                </p>
                <p>BloodDonor ID:
                    <label th:text="${donor.id}"></label>
                </p>
                <p>Name:
                    <a th:href="@{'/bloodDonors/view/' + ${donor.id}}" th:text="${donor.name}"></a>
                </p>
                <p>Blood Group:
                    <label th:text="${donor.bloodGroup}"></label>
                </p>

            </td>

        </tr>
    </table>


</div>
</body>
</html>
