<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<!--Side bar-->
<div th:replace="fragments :: page-sidebar"></div>

<!--Main Content-->
<div class="container body-content" style="width:700px;border: 2px solid;">
    <div class="card">
        <div class="card-block">
    <form th:action="@{/searchInneeds/results}" method="post">
        <h1>Seeking Assistance</h1>
        <h2>Search By: </h2>
        <p>
        <span th:each="column : ${columns}">
        <input type="radio" th:id="${column.key}" th:value="${column.key}" name="searchType"
               th:checked="${column.key == 'all'}"/>
            <label th:for="${column.key}" th:text="${column.value}"></label>

        </span>
        </p>

        <p>
            <label for="searchTerm"></label>
            <input type="text" name="searchTerm" id="searchTerm"/>
        </p>
        <input type="submit" value="Search">
    </form>
        </div>
    </div>


    <hr/>

    <table class="listing">
        <h4 style="color:red;" th:text="${empty}"></h4>
        <tr th:each="inneed,iterationStatus : ${inneeds}">
            <td>
                <p>Person :
                    <label th:text="${iterationStatus.count}"></label>
                </p>

                <p>Seekers ID :
                    <label th:text="${inneed.id}"></label>
                </p>

                <p>Name :
                    <a th:href="@{'/inneeds/view/' + ${inneed.id}}" th:text="${inneed.name}"></a>
                </p>

                <p>Need :
                <ul th:each="needy : ${inneed.needs}">
                    <li><span th:text="${needy.need}"></span></li>
                </ul>
                </p>

                <p>Quantity :
                    <label th:text="${inneed.quantity}"></label>
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
